.catalog{
    @include flex(flex-start, flex-start);

    &__filter{
        width: 20%;

        &__widget{
            margin-bottom: 20px;

            &__title{
                font-size: 1.25rem;
                font-weight: 600;
                margin-bottom: 16px;
                text-transform: capitalize;
            }

            &__content{
                color: $text-second-color;

                &__item{
                    margin-bottom: 13px;
                }
            }
        }


    }

    &__content{
        flex-grow: 1;

        @include tablet{
            width: 100%;
        }
    }
}